<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>

      <add key="SmtpServer" value="smtp.163.com"/>
      <add key="SmtpFrom" value="baby0112u@163.com"/>
      <add key="SmtpUserName" value="baby0112u@163.com"/>
      <add key="SmtpPassword" value="123QWEasd"/>

    </appSettings>
</configuration>